h2 { color: #444; font-weight: lighter; }
body { margin: 0em; }
body, input[text], button { color: #888; font-family: Cambria, Georgia; }
button { padding: 0.2em; font-size: 14px}
/* { font-family: Arial; }*/
* {
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}

input[type='text']:focus
{
  background-color: #f9fad7;
}

textarea {
border: 1px solid #000000;
resize: none;
height: 150px;
width: 300px;

}

textarea:focus
{
background-color: #f9fad7;
} 


/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/