<div class="container-fluid" ng-model = "ereactionBlock">
    <div class="row">
        <div class="col-md-7">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label ng-model="id_label_reactioneventreportedbyprimary" for="id_input_reactioneventreportedbyprimary" class="col-md-6 control-label2">
                        <span class="e2bcode" ng-model="E2BCodes" ngshow="true">E.i.1.1a</span>Reaction / Event as Reported by the Primary Source in Native Language
          
                    </label>
                    <div class="col-md-6">
                        <textarea class="form-control" tabindex="1" id="id_field_reactioneventreportedbyprimary" ng-model="id_field_reactioneventreportedbyprimary" 
            ng-blur="saveReactioneventreportedbyprimary()" cols="50" rows="5" placeholder="ABCD">texto</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label ng-model="id_label_reactioneventreportedlang" for="id_field_reactioneventreportedlang" class="col-lg-6 col-sm-2 control-label2">
                        <span class="e2bcode" g-model="E2BCodes" ngshow="true">E.i.1.1b</span>Reaction / Event as Reported by the Primary Source Language
          
                    </label>
                    <div class="col-md-3">
                        <select class="form-control" tabindex="2" id="id_field_reactioneventreportedlang" ng-model="id_field_reactioneventreportedlang" size="1" alt="{type: 'select', enterTab: false}" maxlength="1" 
            ng-change="saveReactioneventreportedlang()">
                            <option value="0" selected="">Please choose</option>
                            <option value="1">Test01</option>
                            <option value="2">Test02</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label ng-model="id_label_reactioneventbypstrans" for="id_input_reactioneventbypstrans" class="col-md-6 control-label2">
                        <span class="e2bcode" ng-model="E2BCodes" ngshow="true">E.i.1.2</span>Reaction / Event as Reported by the Primary Source for Translation
          
                    </label>
                    <div class="col-md-6">
                        <textarea class="form-control" tabindex="3" id="id_field_reactioneventbypstrans" ng-model="id_field_reactioneventbypstrans" ng-blur="saveReactioneventbypstrans()" cols="50" rows="5" placeholder="ABCD">texto</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label ng-model="id_label_meddraversionforreaction" for="id_field_meddraversionforreaction" class="col-md-6 control-label2">
                        <span class="e2bcode" ng-model="E2BCodes" ngshow="true">E.i.2.1a</span>MedDRA Version for Reaction / Event
          
                    </label>
                    <div class="col-md-4">
                        <input class="form-control" tabindex="4" id="id_field_meddraversionforreaction" ng-model="id_field_meddraversionforreaction" type="text" ng-blur="saveMeddraversionforreaction()" placeholder="ABCD">
                    </div>
                </div>
                <div class="form-group">
                    <label ng-model="id_label_reactioneventmeddracode" for="id_field_reactioneventmeddracode" class="col-md-6 control-label2">
                        <span class="e2bcode" ng-model="E2BCodes" ngshow="true">E.i.2.1b</span>Reaction / Event (MedDRA code)
          
                    </label>
                    <div class="col-md-4">
                        <input class="form-control" tabindex="5" id="id_field_reactioneventmeddracode" ng-model="id_field_reactioneventmeddracode" type="text" ng-blur="saveReactioneventmeddracode()" placeholder="ABCD">
                    </div>
                </div>
                <div class="form-group">
                    <label ng-model="id_label_termhighlightedreporter" for="id_field_termhighlightedreporter" class="col-md-6 control-label2">
                        <span class="e2bcode" ng-model="E2BCodes" ngshow="true">E.i.3.1</span>Term Highlighted by the Reporter
          
                    </label>
                    <div class="col-md-4">
                        <input class="form-control" tabindex="6" id="id_field_termhighlightedreporter" ng-model="id_field_termhighlightedreporter" type="text" ng-blur="saveTermhighlightedreporter()" placeholder="ABCD">
                    </div>
                </div>
                <div class="form-group">
                    <label ng-model="id_label_seriousnessevent" for="id_field_seriousnessevent" class="col-md-6 control-label2">
                        <span class="e2bcode" ng-model="E2BCodes" ngshow="true">E.i.3.2</span>Seriousness Event
          
                    </label>
                    <div class="col-md-4">
                        <input class="form-control" tabindex="7" id="id_field_seriousnessevent" ng-model="id_field_seriousnessevent" type="text" ng-blur="saveSeriousnessevent()" placeholder="ABCD">
                    </div>
                </div>
                <div class="form-group">
                    <label ng-model="id_label_resultsindeath" for="id_field_resultsindeath" class="col-md-6 control-label2">
                        <span class="e2bcode" ng-model="E2BCodes" ngshow="true">E.i.3.2a</span>Results in Death
          
                    </label>
                    <div class="col-md-4">
                        <input class="form-control" tabindex="8" id="id_field_resultsindeath" ng-model="id_field_resultsindeath" type="text" ng-blur="saveResultsindeath()" placeholder="ABCD">
                    </div>
                </div>
                <div class="form-group">
                    <label ng-model="id_label_lifethreatening" for="id_field_lifethreatening" class="col-md-6 control-label2">
                        <span class="e2bcode" ng-model="E2BCodes" ngshow="true">E.i.3.2b</span>Life Threatening
          
                    </label>
                    <div class="col-md-4">
                        <input class="form-control" tabindex="9" id="id_field_lifethreatening" ng-model="id_field_lifethreatening" type="text" ng-blur="saveLifethreatening()" placeholder="ABCD">
                    </div>
                </div>
                <div class="form-group">
                    <label ng-model="id_label_causedprolongedhosp" for="id_field_causedprolongedhosp" class="col-md-6 control-label2">
                        <span class="e2bcode" ng-model="E2BCodes" ngshow="true">E.i.3.2c</span>Caused / Prolonged Hospitalisation
          
                    </label>
                    <div class="col-md-4">
                        <input class="form-control" tabindex="10" id="id_field_causedprolongedhosp" ng-model="id_field_causedprolongedhosp" type="text" ng-blur="saveCausedprolongedhosp()" placeholder="ABCD">
                    </div>
                </div>
                <div class="form-group">
                    <label ng-model="id_label_disablingincapaciting" for="id_field_disablingincapaciting" class="col-md-6 control-label2">
                        <span class="e2bcode" ng-model="E2BCodes" ngshow="true">E.i.3.2d</span>Disabling / Incapacitating
          
                    </label>
                    <div class="col-md-4">
                        <input class="form-control" tabindex="11" id="id_field_disablingincapaciting" ng-model="id_field_disablingincapaciting" type="text" ng-blur="saveDisablingincapaciting()" placeholder="ABCD">
                    </div>
                </div>
                <div class="form-group">
                    <label ng-model="id_label_congenitalanomalybirthdef" for="id_field_congenitalanomalybirthdef" class="col-md-6 control-label2">
                        <span class="e2bcode" ng-model="E2BCodes" ngshow="true">E.i.3.2e</span>Congenital Anomaly / Birth Defect
          
                    </label>
                    <div class="col-md-4">
                        <input class="form-control" tabindex="12" id="id_field_congenitalanomalybirthdef" ng-model="id_field_congenitalanomalybirthdef" type="text" ng-blur="saveCongenitalanomalybirthdef()" placeholder="ABCD">
                    </div>
                </div>
                <div class="form-group">
                    <label ng-model="id_label_othermedicallyimportantcond" for="id_field_othermedicallyimportantcond" class="col-md-6 control-label2">
                        <span class="e2bcode" ng-model="E2BCodes" ngshow="true">E.i.3.2f</span>Other Medically Important Condition
          
                    </label>
                    <div class="col-md-4">
                        <input class="form-control" tabindex="13" id="id_field_othermedicallyimportantcond" ng-model="id_field_othermedicallyimportantcond" type="text" ng-blur="saveOthermedicallyimportantcond()" placeholder="ABCD">
                    </div>
                </div>


                <div class="form-group" ng-controller="DatepickerDemoCtrl">
                    <label ng-model="id_label_datestartreactionevent" for="id_field_datestartreactionevent" class="col-md-6 control-label2">
                        <span class="e2bcode" ng-model="E2BCodes" ngshow="true">E.i.4</span>Date of Start of Reaction / Event
          
                    </label>
                    <div class="col-md-4">
                        <input class="form-control" tabindex="14" id="id_field_datestartreactionevent" ng-model="id_field_datestartreactionevent" type="text" ng-blur="saveDatestartreactionevent()" placeholder="MM/DD/YYYY" datepicker-popup="dd.MM.yyyy" ng-model="dt" is-open="opened" ng-required="true"/>
                    </div>
                    <div class="col-md-2 divhidetxtdpatient" ng-hide="showhidemasked">
                        <button class="btn btn-primary" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </div>
                </div>



                <div class="form-group" ng-controller="DatepickerDemoCtrl">
                    <label ng-model="id_label_dateendreactionevent" for="id_field_dateendreactionevent" class="col-md-6 control-label2">
                        <span class="e2bcode" ng-model="E2BCodes" ngshow="true">E.i.5</span>Date of End of Reaction / Event
          
                    </label>
                    <div class="col-md-4">
                        <input class="form-control" tabindex="15" id="id_field_dateendreactionevent" ng-model="id_field_dateendreactionevent" type="text" ng-blur="saveDateendreactionevent()" placeholder="MM/DD/YYYY" datepicker-popup="dd.MM.yyyy" ng-model="dt" is-open="opened" ng-required="true" />
                    </div>
                    <div class="col-md-2 divhidetxtdpatient" ng-hide="showhidemasked">
                        <button class="btn btn-primary" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </div>
                </div>






                <div class="form-group">
                    <label ng-model="id_label_durationreactioneventnumber" for="id_field_durationreactioneventnumber" class="col-md-6 control-label2">
                        <span class="e2bcode" ng-model="E2BCodes" ngshow="true">E.i.6a</span>Duration of Reaction / Event (number)
          
                    </label>
                    <div class="col-md-4">
                        <input class="form-control" tabindex="16" id="id_field_durationreactioneventnumber" ng-model="id_field_durationreactioneventnumber" type="text" ng-blur="saveDurationreactioneventnumber()" placeholder="ABCD">
                    </div>
                </div>
                <div class="form-group">
                    <label ng-model="id_label_durationreactioneventunit" for="id_field_durationreactioneventunit" class="col-md-6 control-label2">
                        <span class="e2bcode" ng-model="E2BCodes" ngshow="true">E.i.6b</span>Duration of Reaction / Event (unit)
          
                    </label>
                    <div class="col-md-4">
                        <input class="form-control" tabindex="17" id="id_field_durationreactioneventunit" ng-model="id_field_durationreactioneventunit" type="text" ng-blur="saveDurationreactioneventunit()" placeholder="ABCD">
                    </div>
                </div>
                <div class="form-group">
                    <label ng-model="id_label_outcomereactioneventtime" for="id_field_outcomereactioneventtime" class="col-md-6 control-label2">
                        <span class="e2bcode" ng-model="E2BCodes" ngshow="true">E.i.7</span>Outcome of Reaction / Event at the Time of Last Observation
          
                    </label>
                    <div class="col-md-3">
                        <select class="form-control" tabindex="18" id="id_field_outcomereactioneventtime" ng-model="id_field_outcomereactioneventtime" size="1" alt="{type: 'select', enterTab: false}" maxlength="1" ng-change="saveOutcomereactioneventtime()">
                            <option value="0" selected="">Please choose</option>
                            <option value="1">Test01</option>
                            <option value="2">Test02</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label ng-model="id_label_medicalconfirmationhealthcare" for="id_field_medicalconfirmationhealthcare" class="col-md-6 control-label2">
                        <span class="e2bcode" ng-model="E2BCodes" ngshow="true">E.i.8</span>Medical Confirmation by Healthcare Professional
          
                    </label>
                    <div class="col-md-4">
                        <input class="form-control" tabindex="19" id="id_field_medicalconfirmationhealthcare" ng-model="id_field_medicalconfirmationhealthcare" type="text" ng-blur="saveMedicalconfirmationhealthcare()" placeholder="ABCD">
                    </div>
                </div>
                <div class="form-group">
                    <label ng-model="id_label_identifcountrywherereaction" for="id_field_identifcountrywherereaction" class="col-md-6 control-label2">
                        <span class="e2bcode" ng-model="E2BCodes" ngshow="true">E.i.9</span>Identification of the Country Where the Reaction / Event Occurred
          
                    </label>
                    <div class="col-md-4">
                        <input class="form-control" tabindex="20" id="id_field_identifcountrywherereaction" ng-model="id_field_identifcountrywherereaction" type="text" ng-blur="saveIdentifcountrywherereaction()" placeholder="ABCD">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>