    <div class="collapse navbar-collapse">
     <ul class="nav navbar-nav">
        <li><a [routerLink]="['Login']">Login</a></li>

        <li><a [routerLink]="['Case']">Case</a></li>
        <li><a [routerLink]="['Primarysource']">Primary Source</a></li>
        <li><a [routerLink]="['Literature']">Literature</a></li>
        <li><a [routerLink]="['Study']">Study</a></li>
        <li><a [routerLink]="['Patient']">Patient</a></li>
        <li><a [routerLink]="['Reaction']">Reaction</a></li>
        <li><a [routerLink]="['Test']">Test</a></li>
        <li><a [routerLink]="['Drug']">Drug</a></li>
        <li><a [routerLink]="['Narrative']">Narrative</a></li>

        <li><a [routerLink]="['Settings']">Settings</a></li>
        <li><a [routerLink]="['Logs']">Logs</a></li>
        <li><a [routerLink]="['PrintReport']">Print Report</a></li>
        <li><a [routerLink]="['FindReport']">Find Report</a></li>
        <li><a [routerLink]="['Digemid']">Digemid Report</a></li>


        <li><a [routerLink]="['Users']">{{Usuarios}}</a></li>
        <li><a [routerLink]="['Applications']">Applications</a></li>
        <li><a [routerLink]="['Groups']">Groups</a></li>
        <li><a [routerLink]="['GroupsApps']">Groups / Applications</a></li>
        <li><a [routerLink]="['SyncApps']">Synchronize Applications</a></li>
        <li><a [routerLink]="['ChangePassword']">Change Password</a></li>
        <li><a [routerLink]="['HelpManual']">Manual</a></li>
        



        
     </ul>
      <ul class="dropdown-menu">
               <li><a [routerLink]="['About']">About</a></li>
      </ul>


     <ul class="nav navbar-nav navbar-right">
        


       <li><a href="/Account/Register" id="registerLink">Registrarse</a></li>
       <li><a [routerLink]="['About']">About</a></li>
     </ul>
    </div>

    <div class="btn-group">
  <button class="btn">Action</button>
  <button class="btn dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>

</div>


    <router-outlet></router-outlet>

    <button (click)="onClickMe()">Click me!</button>
     {{clickMessage}}