<div class="container-fluid" ng-model = "c1caseBlock">
  <div class="row">
    <div class="col-md-9">
      <form class="form-horizontal" role="form">
        
        <div class="form-group">          
          <label ng-model="id_label_safetyreportid" for="id_field_safetyreportid" class="col-md-6 control-label2">
            <span ng-model="E2BCodes" ngshow="true"> C.1.1 </span> SAFETY REPORT ID
          </label>
          <div class="col-md-4">
            <input class="form-control" tabindex="1" id="id_field_safetyreportid" ng-model="id_field_safetyreportid" type="text" ng-blur="saveSafetyreportID()"/>
          </div>
        </div>

        <div class="form-group">          
          <label ng-model="id_label_wwuci" for="id_field_wwuci" class="col-md-6 control-label2">
            <span ng-model="E2BCodes" ngshow="true"> C.1.8.1 </span> WWUCI
          </label>
          <div class="col-md-4">
            <input class="form-control" tabindex="2" id="id_field_wwuci" ng-model="id_field_wwuci" type="text" ng-blur="saveWwuci()"/>
          </div>
        </div>


        
        <div class="form-group">          
          <label ng-model="id_label_reportype" for="id_field_reportype" class="col-md-6 control-label2">
            <span ng-model="E2BCodes" ngshow="true"> C.1.3 </span> Report Type
          </label>
          <div class="col-md-3">  
            <select class="form-control" tabindex="3" id="id_field_reportype" data-ng-model="id_field_reportype" size="1" alt="{type: 'select', enterTab: false}" maxlength="1" ng-change="saveReporttype()">
                <option value="0" selected="">Please choose</option>
            </select>


          </div>
        </div>

        <div class="form-group">          
          <label ng-model="id_label_creationdate" for="id_field_creationdate" class="col-md-6 control-label2">
            <span ng-model="E2BCodes" ngshow="true"> C.1.2 </span> Creation Date
          </label>

          
          <div class="col-md-4">
          <div class="input-group date" id="id_field_creationdate">
<!-- <input class="form-control" tabindex="4" id="id_field_creationdate" ng-model="id_field_creationdate" type="text" ng-blur="saveCreationdate()"/>  -->

              <input tabindex="4" type='text' class="form-control" ng-blur="saveCreationdate()"/>

              <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
              </span>


          </div>

          </div>

        </div>


<!--
        <div class="form-group">          
          <label ng-model="id_label_timec1" for="id_field_timec1" class="col-lg-6 col-sm-2 control-label2">
            <span ng-model="E2BCodes" ngshow="true">C.1.2 </span> Creation Time
          </label>
          <div class="col-lg-4 col-sm-4">
            <input class="form-control" tabindex="5" id="id_field_timec1" ng-model="id_field_timec1" type="text" ng-blur="saveTimec1()"/>
          </div>
        </div>
-->
        <div class="form-group">          
          <label ng-model="id_label_receiveddate" for="id_field_receiveddate" class="col-md-6 control-label2">
            <span ng-model="E2BCodes" ngshow="true">C.1.4 </span> Received Date
          </label>
<!--          <div class="col-lg-4 col-sm-4">
            <input tabindex="6" id="id_field_receiveddate" ng-model="id_field_receiveddate" type="text" ng-blur="saveReceiveddate()"/>
          </div>
-->
          <div class="col-md-4">
          <div class="input-group date' id='id_field_receiveddate">
              <input type='text' class="form-control" />
              <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
              </span>
          </div>
          </div>

        </div>

<!--        <div class="form-group">          
          <label ng-model="id_label_receivedtime" for="id_field_receivedtime" class="col-lg-6 col-sm-2 control-label2">
            <span ng-model="E2BCodes" ngshow="true">C.1.4 </span> Received Time
          </label>
          <div class="col-lg-4 col-sm-4">
            <input tabindex="7" id="id_field_receivedtime" ng-model="id_field_receivedtime" type="text" ng-blur="saveReceivedtime()"/>
          </div>
        </div>
-->

        <div class="form-group">          
          <label ng-model="id_label_mostrecentdate" for="id_field_mostrecentdate" class="col-md-6 control-label2">
            <span ng-model="E2BCodes" ngshow="true">C.1.5 </span> Most Recent Date
          </label>
         <!-- <div class="col-lg-4 col-sm-4">
            <input tabindex="8" id="id_field_mostrecentdate" ng-model="id_field_mostrecentdate" type="text" ng-blur="saveMostrecentdate()"/>
          </div>-->
          <div class="col-md-4">
          <div class="input-group date" id="id_field_mostrecentdate">
              <input type='text' class="form-control" />
              <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
              </span>
          </div>

          </div>
        </div>

 <!--       <div class="form-group">          
          <label ng-model="id_label_mostrecenttime" for="id_field_mostrecenttime" class="col-lg-6 col-sm-2 control-label2">
            <span ng-model="E2BCodes" ngshow="true">C.1.5 </span> Most Recent Time
          </label>
          <div class="col-lg-4 col-sm-4">
            <input tabindex="9" id="id_field_mostrecenttime" ng-model="id_field_mostrecenttime" type="text" ng-blur="saveMostrecenttime()"/>
          </div>
        </div>
-->

</form>
</div>
</div>
</div>

    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Warning!</h3>
        </div>
        <div class="modal-body">
           Do you want to delete this item?
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>

<div class="container-fluid" ng-controller="ModalDemoCtrl">
  <div class="row">
    <div class="col-md-9">
      <form class="form-horizontal" role="form">
        
          <div class="form-group">          
          <label ng-model="id_label_additionaldocumentavailable" for="id_field_additionaldocumentavailable" class="col-md-6 control-label2">
            <span ng-model="E2BCodes" ngshow="true">C.1.6.1</span> Additional Document Available
          </label>
          <div class="col-md-3">
              <select class="form-control" id="id_field_additionaldocumentavailable" data-ng-model="id_field_additionaldocumentavailable" ng-change="saveAdditionaldocumentavailable()" size="1" alt="{type: 'select', enterTab: false}" maxlength="1">
                      <option value="1">Yes</option>
                      <option value="2">No</option>
              </select>
          </div>

          <div  ng-model="addDocAvailable" ng-init="tab = 3" ng-show="id_field_additionaldocumentavailable == '1'" class="col-md-12">


              <div ng-init="tab = 1" >
              <br /><br />
              


          </div>
          </div>          
        </div>     


        </form>
</div>
</div>
</div>   
       






<div class="container-fluid" ng-model = "c1caseBlock">
  <div class="row">
    <div class="col-md-9">
      <form class="form-horizontal" role="form">

        <div class="form-group">          
          <label ng-model="id_label_timec1" for="id_label_localexpeditedcriteria" class="col-lg-6 col-sm-2 control-label2">
            <span ng-model="E2BCodes" ngshow="true">C.1.7 </span> Local Expedited Criteria
          </label>
          <div class="col-md-3">
            <select class="form-control" tabindex="11" id="id_field_localexpeditedcriteria" data-ng-model="id_field_localexpeditedcriteria" name="localexpeditedcriteria"
            size="1" alt="{type: 'select', enterTab: false}" maxlength="1" ng-change="saveLocalexpeditedcriteria()">
                <option value="0" selected="">Please choose</option>
                <option value="1">Yes</option>
                <option value="2">No</option>
            </select>            
            
          </div>

      <div class="col-md-1">
            <button type="button" class="btn btn-info">NI</button>
            </div>

        </div>

        <div class="form-group">          
          <label ng-model="id_label_previousidexists" for="id_field_previousidexists" class="col-md-6 control-label2">
            <span ng-model="E2BCodes" ngshow="true"> C.1.9.1 </span> Previous ID Exists
          </label>
          <div class="col-md-3">
            <select class="form-control" tabindex="12" id="id_field_previousidexists" data-ng-model="id_field_previousidexists" name="previousidexists" size="1" alt="{type: 'select', enterTab: false}" maxlength="1"
             ng-change="savePreviousIDexists()">
                <option value="0" selected="">Please choose</option>
                <option value="1">Yes</option>
                <option value="2">No</option>
            </select>             
          </div>

          <div class="col-md-1">
            <button type="button" class="btn btn-info">NI</button>
            </div>
        </div>        


        <div class="form-group">          

          
          <label ng-model="id_label_sourcepreviousid" for="id_field_sourcepreviousid" class="col-md-6 control-label2">
            <span ng-model="E2BCodes" ngshow="true"> C.1.9.1.r1 </span> Source Previous ID
          </label>
          <div class="col-md-2">
            <input class="form-control" tabindex="13" id="id_field_sourcepreviousid" ng-model="id_field_sourcepreviousid" type="text" ng-blur="saveSourcepreviousID()"/>

           <!--<select id="id_field_sourcepreviousidlist" ng-model="id_field_sourcepreviousidlist" class="form-control">
              <option>text1</option>
           </select> -->           
           
          </div>     
          <div class = "btn-group">   
           <button type = "button" class = "btn btn-info">UNK</button>
           <button type = "button" class = "btn btn-info">ASKU</button>
           <button type = "button" class = "btn btn-info">NASK</button>
           <button type = "button" class = "btn btn-info">NI</button>
      
           </div>


          </div>

          

        

        <div class="form-group">          
          <label ng-model="id_label_previousid" for="id_field_previousid" class="col-md-6 control-label2">
            <span ng-model="E2BCodes" ngshow="true"> C.1.9.1.r2 </span> Previous ID
          </label>
          <div class="col-md-2">
            <input class="form-control" tabindex="14" id="id_field_previousid" ng-model="id_field_previousid" type="text" ng-blur="savePreviousID()"/> 
            </div>

          
           <div class = "btn-group" id="btnone">   
           <button type = "button" class = "btn btn-info">UNK</button>
           <button type = "button" class = "btn btn-info">ASKU</button>
           <button type = "button" class = "btn btn-info">NASK</button>
           <button type = "button" class = "btn btn-info">NI</button>
      
           </div>



        </div>      


        <div class="form-group">          
          <label ng-model="id_label_repnullamendement" for="id_field_repnullamendement" class="col-md-6 control-label2">
            <span ng-model="E2BCodes" ngshow="true"> C.1.11.1 </span> Rep Nullification Amendment
          </label>
          <div class="col-md-4">
            <input class="form-control" tabindex="15" id="id_field_repnullamendement" ng-model="id_field_repnullamendement" type="text" ng-blur="saveRepnullamendement()"/>
          </div>
        </div>                

        <div class="form-group">          
          <label ng-model="id_label_firstcasesender" for="id_field_firstcasesender" class="col-md-6 control-label2">
            <span ng-model="E2BCodes" ngshow="true">C.1.8.2 </span> First Sender of This Case
          </label>
          <div class="col-md-4">
            <input class="form-control" tabindex="15" id="id_field_firstcasesender" ng-model="id_field_firstcasesender" type="text" ng-blur="saveFirstcasesender()"/>
          </div>
        </div>                

        <div class="form-group">          
          <label ng-model="id_label_repnullamendementreason" for="id_field_repnullamendementreason" class="col-md-6 control-label2">
            <span ng-model="E2BCodes" ngshow="true">C.1.11.2 </span> Rep Null Amendment Reason
          </label>
          <div class="col-md-4">
            <input class="form-control" tabindex="15" id="id_field_repnullamendementreason" ng-model="id_field_repnullamendementreason" type="text" ng-blur="saveRepnullamendementreason()"/>
          </div>
        </div>                


      </form>    </div>  </div>  </div>

<!-- .container is main centered wrapper --> 

<script type="text/javascript">
    $(function () {
  //      $('#datetimepicker1').datetimepicker();
        $('#id_field_creationdate').datetimepicker({
               format: 'DD-MMM-YYYY LT'
        });        

        $('#id_field_receiveddate').datetimepicker({
               format: 'DD-MMM-YYYY LT'
        });        


        $('#id_field_mostrecentdate').datetimepicker({
               format: 'DD-MMM-YYYY LT'
        });       

    });

    $('body').on('click', '.btn-group button', function (e) {
    $(this).addClass('active');
    $(this).siblings().removeClass('active');
    
    //do any other button related things
});
</script>