<div class="container-fluid" ng-model="ftestBlock">
    <div class="row">
        <div class="col-md-7">
            <form class="form-horizontal" role="form">


            <div class="form-group" ng-controller="DatepickerDemoCtrl">
                    <label ng-model="id_label_dateofbirth" for="id_field_dateofbirth" class="col-md-6 control-label2">
                        <span class="e2bcode" ng-model="E2BCodes" ngshow="true">D.2.1</span>Date of Birth                    
                    </label>
                    <div class="col-md-3">
                        <input ng-model="dt" class="form-control" tabindex="1" id="id_field_dateofbirth" type="text" ng-blur="saveDateofbirth()" placeholder="MM/DD/YYYY" datepicker-popup="dd.MM.yyyy" ng-model="dt" is-open="opened" ng-required="true" />       
                    </div>

                     <div class="col-md-2 divhidetxtdpatient" ng-hide="showhidemasked">
                        <button class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </div>
                </div>


                <div class="form-group" ng-controller="DatepickerDemoCtrl">
                    <label ng-model="id_label_testdate" for="id_field_testdate" class="col-md-6 control-label2">
                        <span class="e2bcode" ng-model="E2BCodes" ngshow="true">F.r.1</span>Test Date
          
                    </label>
                    <div class="col-md-4">
                        <input class="form-control" tabindex="2" id="id_field_testdate" ng-model="dt" type="text" ng-blur="saveTestdate()" placeholder="MM/DD/YYYY" datepicker-popup="dd-MMM-yyyy" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" />
                    </div>
                </div>



                <div class="form-group">
                    <label ng-model="id_label_testnamefreetest" for="id_field_testnamefreetest" class="col-md-6 control-label2">
                        <span class="e2bcode" ng-model="E2BCodes" ngshow="true">F.r.2.1</span>Test Name (free text)
          
                    </label>
                    <div class="col-md-4">
                        <input class="form-control" tabindex="2" id="id_field_testnamefreetest" ng-model="id_field_testnamefreetest" type="text" ng-blur="saveTestnamefreetest()" placeholder="ABCD">
                    </div>
                </div>
                <div class="form-group">
                    <label ng-model="id_label_meddraversiontestname" for="id_field_meddraversiontestname" class="col-md-6 control-label2">
                        <span class="e2bcode" ng-model="E2BCodes" ngshow="true">F.r.2.2a</span>MedDRA Version for Test Name
          
                    </label>
                    <div class="col-md-4">
                        <input class="form-control" tabindex="2" id="id_field_meddraversiontestname" ng-model="id_field_meddraversiontestname" type="text" ng-blur="saveMeddraversiontestname()" placeholder="ABCD">
                    </div>
                </div>
                <div class="form-group">
                    <label ng-model="id_label_testnamemeddracode" for="id_field_testnamemeddracode" class="col-md-6 control-label2">
                        <span class="e2bcode" ng-model="E2BCodes" ngshow="true">F.r.2.2b</span>Test Name (MedDRA code)
          
                    </label>
                    <div class="col-md-4">
                        <input class="form-control" tabindex="2" id="id_field_testnamemeddracode" ng-model="id_field_testnamemeddracode" type="text" ng-blur="saveTestnamemeddracode()" placeholder="ABCD">
                    </div>
                </div>
                <div class="form-group">
                    <label ng-model="id_label_testresultcode" for="id_field_testresultcode" class="col-md-6 control-label2">
                        <span class="e2bcode" ng-model="E2BCodes" ngshow="true">F.r.3.1</span>Test Result (code)
          
                    </label>
                    <div class="col-md-3">
                        <select class="form-control" tabindex="1" id="id_field_testresultcode" ng-model="id_field_testresultcode" size="1" alt="{type: 'select', enterTab: false}" maxlength="1" ng-change="saveTestresultcode()">
                            <option value="0" selected="">Please choose</option>
                            <option value="1">Test01</option>
                            <option value="2">Test02</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label ng-model="id_label_testresultvaluequalifier" for="id_field_testresultvaluequalifier" class="col-md-6 control-label2">
                        <span class="e2bcode" ng-model="E2BCodes" ngshow="true">F.r.3.2</span>Test Result (value / qualifier)
          
                    </label>
                    <div class="col-md-4">
                        <input class="form-control" tabindex="2" id="id_field_testresultvaluequalifier" ng-model="id_field_testresultvaluequalifier" type="text" ng-blur="saveTestresultvaluequalifier()" placeholder="ABCD">
                    </div>
                </div>
                <div class="form-group">
                    <label ng-model="id_label_testresultunit" for="id_field_testresultunit" class="col-md-6 control-label2">
                        <span class="e2bcode" ng-model="E2BCodes" ngshow="true">F.r.3.3</span>Test Result (unit)
          
                    </label>
                    <div class="col-md-4">
                        <input class="form-control" tabindex="2" id="id_field_testresultunit" ng-model="id_field_testresultunit" type="text" ng-blur="saveTestresultunit()" placeholder="ABCD">
                    </div>
                </div>
                <div class="form-group">
                    <label ng-model="id_label_resultunstructureddata" for="id_field_resultunstructureddata" class="col-md-6 control-label2">
                        <span class="e2bcode" ng-model="E2BCodes" ngshow="true">F.r.3.4</span>Result Unstructured Data (free text)
          
                    </label>
                    <div class="col-md-4">
                        <input class="form-control" tabindex="2" id="id_field_resultunstructureddata" ng-model="id_field_resultunstructureddata" type="text" ng-blur="saveResultunstructureddata()" placeholder="ABCD">
                    </div>
                </div>
                <div class="form-group">
                    <label ng-model="id_label_normallowvalue" for="id_field_normallowvalue" class="col-md-6 control-label2">
                        <span class="e2bcode" ng-model="E2BCodes" ngshow="true">F.r.4</span>Normal Low Value
          
                    </label>
                    <div class="col-md-4">
                        <input class="form-control" tabindex="2" id="id_field_normallowvalue" ng-model="id_field_normallowvalue" type="text" ng-blur="saveNormallowvalue()" placeholder="ABCD">
                    </div>
                </div>
                <div class="form-group">
                    <label ng-model="id_label_normalhighvalue" for="id_field_normalhighvalue" class="col-md-6 control-label2">
                        <span class="e2bcode" ng-model="E2BCodes" ngshow="true">F.r.5</span>Normal High Value
          
                    </label>
                    <div class="col-md-4">
                        <input class="form-control" tabindex="2" id="id_field_normalhighvalue" ng-model="id_field_normalhighvalue" type="text" ng-blur="saveNormalhighvalue()" placeholder="ABCD">
                    </div>
                </div>


                <div class="form-group">
                    <label ng-model="id_label_commentsfreetext" for="id_field_commentsfreetext" class="col-md-6 control-label2">
                        <span class="e2bcode" ng-model="E2BCodes" ngshow="true">F.r.6</span>Comments (free text)
          
                    </label>
                    <div class="col-md-6">
                        <textarea class="form-control" tabindex="2"  id="id_field_commentsfreetext"  ng-model="id_field_commentsfreetext" ng-blur="saveCommentsfreetext()" cols="50" rows="5" placeholder="ABCD"></textarea>
                    </div>
                </div>



                <div class="form-group">
                    <label ng-model="id_label_moreinfoavailable" for="id_field_moreinfoavailable" class="col-md-6 control-label2">
                        <span class="e2bcode" ng-model="E2BCodes" ngshow="true">F.r.7</span>More Information Available
          
                    </label>
                    <div class="col-md-6">
                        <textarea class="form-control" tabindex="2"  id="id_field_moreinfoavailable"  ng-model="id_field_moreinfoavailable" ng-blur="saveMoreinfoavailable()" cols="50" rows="5" placeholder="ABCD"></textarea>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>