<div class="container-fluid" ng-model = "hnarrativeBlock">
    <div class="row">
        <div class="col-md-7">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label ng-model="id_label_casenarrativeincclinical" for="id_input_casenarrativeincclinical" class=" col-md-6 control-label2">
                        <span class="e2bcode" ng-model="E2BCodes" ngshow="true">H.1</span>Case Narrative Including Clinical Course, Therapeutic Measures, Outcome and Additional Relevant Information
          
                    </label>
                    <div class="col-md-6">
                        <textarea class="form-control" tabindex="1" id="id_field_casenarrativeincclinical" ng-model="id_field_casenarrativeincclinical" ng-blur="saveCasenarrativeincclinical()" cols="50" rows="5" placeholder="ABCD">texto</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label ng-model="id_label_reporterscomments" for="id_input_reporterscomments" class="col-md-6 control-label2">
                        <span class="e2bcode" ng-model="E2BCodes" ngshow="true">H.2</span>Reporter's Comments
          
                    </label>
                    <div class="col-md-6">
                        <textarea class="form-control" tabindex="2"  id="id_input_reporterscomments"  ng-model="id_field_reporterscomments" ng-blur="saveReporterscomments()" cols="50" rows="5" placeholder="ABCD">texto</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label ng-model="id_label_reporterscomments" for="id_field_sendercomments" class="col-md-6 control-label2">
                        <span class="e2bcode" ng-model="E2BCodes" ngshow="true">H.3</span>Sender's Comments
          
                    </label>
                    <div class="col-md-6">
                        <textarea class="form-control" tabindex="3" id="id_field_sendercomments" ng-model="id_field_sendercomments" ng-blur="saveSendercomments()" cols="50" rows="5" placeholder="ABCD">texto</textarea>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>