<div class="container-fluid" ng-model = "c4literatureblock">
    <div class="row">
        <div class="col-md-9">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label ng-model="id_label_literaturereferences" for="id_input_literaturereferences" class="col-md-6 control-label2">
                        <span class="e2bcode" ng-model="E2BCodes" ng-show="true">C.4.r.1</span>Literature Reference(s)
          
                    </label>
                    <div class="col-md-6">
                        <textarea class="form-control" tabindex="1" id="id_field_literaturereferences" ng-model="id_field_literaturereferences" ng-blur="saveLiteraturereferences()" cols="50" rows="5" placeholder="ABCD">texto</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label ng-model="id_label_includeddocuments" for="id_input_includeddocuments" class="col-md-6 control-label2">
                        <span class="e2bcode" ng-model="E2BCodes" ng-show="true">C.4.r.2</span>Included Documents
        
                    </label>
                    <div class="col-md-6">
                        <textarea class="form-control" tabindex="1" id="id_field_includeddocuments" ng-model="id_field_includeddocuments" ng-blur="saveIncludeddocuments()" cols="50" rows="5" placeholder="ABCD">texto</textarea>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>