@import "//yui.yahooapis.com/pure/0.6.0/pure-min.css";
@import "//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css";

.pure-menu-horizontal {
background: #BEC3C7;    
}
.pure-menu-link{
    color: #fff;
}


input[type="text"], textarea{
	background-color: darkblue;
	color: white;
	width: 220px;
}

input:focus[id^="number"], input:focus[type="text"], textarea:focus{
	background-color: lightblue;
	color: white;
	border-radius: 0px;
	
}

input[id^="number"]{
	background-color: darkblue;
	color: white;	
	width: 100px;	
}

select[id^="select_"]{
	background-color: darkblue;
	color: white;	
	width: 115px;
}
select[id^="select2"]{
	background-color: darkblue;
	color: white;	
	width: 220px;
}


.lbl_e2bcodes{
	padding-left: 10px;
	padding-right: 15px;
	width: 55px;
}


.pure-form-aligned .pure-control-group label {
 text-align: left; 
 width: 200px;
}

.pure-form select{
	background-color: darkblue;
	color: white;	
}
