@import "http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css";
#content { 
  overflow:auto; 
  width: 100%; 
  background: gray; 
} 

#left, #right { 
  width: 47%; 
  margin:1px; 
  padding: 5px; 
  background: white; 
} 

#left  { float:left;  }
#right { float:right; } 


input[type='text']:focus, input[type='password']:focus
{
  background-color: #f9fad7;
}

input[type='text'], input[type='password'], input[type='number'] {   
  /*outline:none !important;*/
  border: solid 2px #c9c9c9;
  transition: border 0.3s;  
}

textarea:focus
{
  background-color: #f9fad7;
  border-color: rgba(30, 144, 255, 0.8) !important;
  box-shadow: 0 1px 1px rgba(30, 144, 255, 0.075) inset, 0 0 8px rgba(30, 144, 255, 0.6) !important;
  outline: 0 none !important;
}

textarea {
border: solid 2px #c9c9c9 !important;
transition: border 0.3s;
resize: none;

}
