@import "pure.css";

.pure-menu-horizontal {
background: #BEC3C7;    
}
.pure-menu-link{
    color: #fff;
}

input[type="text"], textarea, select{
	background-color: darkblue !important;
	color: white;

}

input:focus[type="text"], textarea:focus{
	background-color: lightblue;
	color: white;
	border-radius: 0px;
	
}


/*
.lbl_e2bcodes {
margin: 0 10px 0 10px;
width: 300px;
}

.lbl_e2bnames {
    margin: 0 10px 0 10px;
    width: 300px;

}*/
